<head>
  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <link rel='apple-touch-icon' sizes='76x76' href='/favicon/apple-touch-icon.png' />
  <link rel='icon' type='image/png' sizes='32x32' href='/favicon/favicon-32x32.png' />
  <link rel='icon' type='image/png' sizes='16x16' href='/favicon/favicon-16x16.png' />
  <link rel='manifest' href='/favicon/site.webmanifest' />
  <link rel='mask-icon' href='/favicon/safari-pinned-tab.svg' color='#5bbad5' />
  <link rel='shortcut icon' href='/favicon/favicon.ico' />
  <meta name='msapplication-TileColor' content='#da532c' />
  <meta name='msapplication-config' content='/favicon/browserconfig.xml' />
  <meta name='theme-color' content='#ffffff' />
  <title>{{title}} - Medverse</title>
  <meta name='description' content='Medverse is a tool that helps you build your own 3D NFTs gallery' />
  <link rel='stylesheet' href='/style.css?v=1.0.0' />
  <link rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css' />
  <script
    src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js'
    integrity='sha512-QTnb9BQkG4fBYIt9JGvYmxPpd6TBeKp6lsUrtiVQsrJ9sb33Bn9s0wMQO9qVBFbPX3xHRAsBHvXlcsrnJjExjg=='
    crossorigin='anonymous'
    referrerpolicy='no-referrer'
  ></script>
  <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/toastify-js'></script>
  <script src='//unpkg.com/alpinejs' defer></script>
  <script src='/main.js'></script>
</head>